# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyw
*.pyz
*.pyzw
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pyzw
*.egg-info/
dist/
build/
.testenv/
.venv/
.env
database_*
config_*
notes.md
test2.py
test.py
test.mp4
_internal/
meetuptest.py
